/*RESET*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
  background-color: black;
  color: white;
}

main {
  padding: 0.625rem;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

h1, h3 {
  text-shadow: 1px 2px rgba(73, 73, 73, 0.623);
}

.index__content {
  text-align: center;
}

/*HEADER*/
.header__logo {
  display: inline-block;
  width: 130px;
  height: auto;
  margin: 0px;
  filter: invert(1);
  vertical-align: middle;
}
.header__navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
}
.header__navlist {
  list-style-type: none;
}
.header__navlist .header__item {
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
}
.header__navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.header__item a:hover:not(.active) {
  background-color: rgba(40, 40, 40, 0.575);
  transition: all ease-in-out 850ms;
}
.header .active {
  background-color: rgb(71, 71, 71);
}
.header a:link, .header a:visited {
  color: white;
}
.header__toogle {
  display: none;
}
.header__menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}
.header .active__nav {
  display: block;
}

/*HERO*/
.hero__image {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/HeroGIF.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.hero__text {
  font-size: 1.4rem;
  text-align: center;
  background-color: black;
  padding: 1rem;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.767);
  border-radius: 10px;
}

.hero__button {
  text-decoration: none;
}

/*HERO-DATES*/
.hero__dates {
  max-width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/ITVOD_Dates.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*HERO-NEWS*/
.hero__news {
  max-width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/ITVOD_News.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*HERO-ABOUT*/
.hero__about {
  max-width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/ITVOD_About.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*HERO-CONTACT*/
.hero__contact {
  max-width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/HeroGIF2.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*TOUR DATES Grid*/
.dates-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 25px 40px;
  grid-auto-flow: row;
  grid-template-areas: "TOUR-DATES TOUR-DATES TOUR-DATES" "Dates Location BUY";
  padding: 1rem;
}
.dates-container .TOUR-DATES {
  grid-area: TOUR-DATES;
  text-align: center;
}
.dates-container .Dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "date-1 date-1 date-1" "date-2 date-2 date-2" "date-3 date-3 date-3";
  grid-area: Dates;
}
.dates-container .Dates .date-1 {
  grid-area: date-1;
}
.dates-container .Dates .date-2 {
  grid-area: date-2;
}
.dates-container .Dates .date-3 {
  grid-area: date-3;
}
.dates-container .Location {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "location-1 location-1 location-1" "location-2 location-2 location-2" "location-3 location-3 location-3";
  grid-area: Location;
}
.dates-container .Location .location-1 {
  grid-area: location-1;
}
.dates-container .Location .location-2 {
  grid-area: location-2;
}
.dates-container .Location .location-3 {
  grid-area: location-3;
}
.dates-container .BUY {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "buy1 buy1 buy1" "buy2 buy2 buy2" "buy3 buy3 buy3";
  grid-area: BUY;
  text-align: right;
}
.dates-container .BUY .buy1 {
  grid-area: buy1;
}
.dates-container .BUY .buy2 {
  grid-area: buy2;
}
.dates-container .BUY .buy3 {
  grid-area: buy3;
}

.news__container {
  display: flex;
  flex-direction: row;
}
.news__container .news__card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.5em;
  padding: 10px;
  background-color: rgba(46, 46, 46, 0.236);
}
.news__container .news__card img {
  height: 45vh;
}
.news__container .news__card span {
  display: block;
}

iframe {
  width: 100%;
}

.about__container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact__container .contact__fieldset {
  align-self: flex-start;
}
.contact__container .contact__info {
  padding: 5px;
  align-self: flex-start;
}
.contact__container .contact__info li {
  list-style-type: none;
}
.contact__container h2 {
  margin-top: 1rem;
}
.contact__container fieldset {
  padding: 5px;
  background-color: black;
  border-color: black;
}
.contact__container input, .contact__container button {
  background-color: rgb(71, 71, 71);
  border-radius: 5px;
  color: white;
  padding: 0.1em;
  margin-bottom: 0.5em;
}
.contact__container button {
  margin-top: 0.5em;
  padding: 0.5em;
}

/*Flex+Footer*/
footer {
  color: white;
  text-align: center;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer .ft-social {
  padding: 0 1.875rem 1.25rem;
}
footer .ft-social .ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
footer .ft-social .ft-social-list .footer__img--rrss {
  width: 20px;
  height: auto;
  margin: 0px;
  filter: invert(1);
}
footer .ft-social .ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 5px 10px 1px 10px;
}
footer .ft-social .ft-social-list li:hover {
  background-color: rgba(40, 40, 40, 0.575);
  transition: all ease-in-out 850ms;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

/*--MediaQueries*/
@media screen and (max-width: 1200px) {
  .hero__image {
    height: 75vh;
  }
}
@media screen and (max-width: 768px) {
  .header__navbar {
    flex-direction: column;
  }
  .header__toogle {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .header__item {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  .hero__image {
    height: 53vh;
  }
  .hero__dates, .hero__news, .hero__about, .hero__contact {
    height: 30vh;
  }
  .hero__text {
    display: none;
  }
  .header__navlist {
    display: none;
  }
  .news__container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .hero__image {
    height: 30vh;
  }
  .hero__dates, .hero__news, .hero__about, .hero__contact {
    height: 15vh;
  }
  .header__navlist {
    display: none;
  }
  .news__container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 425px) {
  .hero__image {
    height: 27vh;
  }
  .hero__dates, .hero__news, .hero__about, .hero__contact {
    height: 12vh;
  }
  .header__navlist {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .hero__image {
    height: 23vh;
  }
  .hero__dates, .hero__news, .hero__about, .hero__contact {
    height: 12vh;
  }
  .header__navlist {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */