/*HERO*/

.hero__image{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/HeroGIF.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.hero__text {
    font-size: 1.4rem;
    text-align: center;
    background-color: black;
    padding: 1rem;
    box-shadow: inset black;
    border-radius: 10px;
}

.hero__button {
    text-decoration: none;
}

/*HERO-DATES*/

.hero__dates {
    max-width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/ITVOD_Dates.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*HERO-NEWS*/

.hero__news {
    max-width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/ITVOD_News.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    align-self: center;
}


/*HERO-ABOUT*/

.hero__about {
    max-width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/ITVOD_About.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    align-self: center;
}


/*HERO-CONTACT*/

.hero__contact {
    max-width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/HeroGIF2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    align-self: center;
}
