/*--MediaQueries*/

@media screen and (max-width: 1200px) {
    .hero__image {
        height: 75vh;
    }
}

@media screen and (max-width: 768px) {
    .header__navbar {
        flex-direction: column;
    }
    .header__toogle {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .header__item {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .hero__image {
        height: 53vh;
    }
    .hero__text {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .hero__image {
        height: 30vh;
    }
}

@media screen and (max-width: 320px) {
    .hero__image {
        height: 23vh;
    }
}




