/*--MediaQueries*/

@media screen and (max-width: 1200px) {
    .hero__image {
        height: 75vh;
    }
}

@media screen and (max-width: 1024px) {
    .hero__dates, .hero__news, .hero__about, .hero__contact {
        height: 40vh;
    }    
}


@media screen and (max-width: 768px) {
    .header__navbar {
        flex-direction: column;
    }
    .header__toogle {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .header__item {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .hero__image {
        height: 53vh;
    }
    .hero__dates, .hero__news, .hero__about, .hero__contact {
        height: 30vh;
    }
    .hero__text {
        display: none;
    }
    .header__navlist{
        display: none;
    }
    .news__container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .hero__image {
        height: 30vh;
    }
    .hero__dates, .hero__news, .hero__about, .hero__contact {
        height: 15vh;
    }
    .header__navlist{
        display: none;
    }
    .news__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 425px) {
    .hero__image {
        height: 27vh;
    }
    .hero__dates, .hero__news, .hero__about, .hero__contact {
        height: 12vh;
    }
    .header__navlist{
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .hero__image {
        height: 23vh;
    }
    .hero__dates, .hero__news, .hero__about, .hero__contact {
        height: 12vh;
    }
    .header__navlist{
        display: none;
    }
}
