/*TOUR DATES Grid*/

.dates-container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 25px 40px;
    grid-auto-flow: row;
    grid-template-areas: "TOUR-DATES TOUR-DATES TOUR-DATES" "Dates Location BUY";
    padding: 1rem;
    .TOUR-DATES { 
        grid-area: TOUR-DATES; 
        text-align: center;
    }
    .Dates {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "date-1 date-1 date-1"
            "date-2 date-2 date-2"
            "date-3 date-3 date-3";
        grid-area: Dates;
        .date-1 { 
            grid-area: date-1; 
        }
        
        .date-2 { 
            grid-area: date-2; 
        }
        
        .date-3 { 
            grid-area: date-3; 
        }        
    }
    .Location {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "location-1 location-1 location-1"
            "location-2 location-2 location-2"
            "location-3 location-3 location-3";
        grid-area: Location;
        .location-1 { 
            grid-area: location-1; 
        }
        
        .location-2 { 
            grid-area: location-2; 
        }
        
        .location-3 { 
            grid-area: location-3; 
        }
    }
    .BUY {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "buy1 buy1 buy1"
            "buy2 buy2 buy2"
            "buy3 buy3 buy3";
        grid-area: BUY;
        text-align: right;
        .buy1 { 
            grid-area: buy1; 
        }
        
        .buy2 { 
            grid-area: buy2; 
        }
        
        .buy3 { 
            grid-area: buy3; 
        }        
    }    
    }