/*Flex+Footer*/

footer {
    color: white;
    text-align: center;
    & ul{
        list-style: none;
        padding-left: 0;    
    }
    .ft-social {
        padding: 0 1.875rem 1.25rem;
        .ft-social-list {
            display: flex;
            justify-content: center;
            border-top: 1px #777 solid; 
            padding-top: 1.25rem;
            .footer__img--rrss {
                width: 20px;
                height: auto;
                margin: 0px;
                filter: invert(1);
            }
            li {
                margin: 0.5rem;
                font-size: 1.25rem;
            }
        }    
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}