*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat');


html{
    font-size: 20px;
    background-color: black;
    color: white;
}

/*LOGO+NAV*/

header{
    padding: 10px;
    text-align: center;
    }

.navlogo{
    width: 130px;
    height: auto;
    margin: 0px;
    filter: invert(1);
}

li {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}

li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(71, 71, 71);
}

a:link {
    color: white
}

a:visited {
    color: white
}

/*HERO*/

.hero-image{
    display: flex;
    flex-direction: column;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    height: 100vh;
    align-self: center;
}

.hero-text {
    font-size: 1.4rem;
    text-align: center;
    background-color: black;
    padding: 1rem;
}

div a{
    text-decoration: none;
}

/*TOUR DATES Grid*/

.dates-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 25px 40px;
    grid-auto-flow: row;
    grid-template-areas: "TOUR-DATES TOUR-DATES TOUR-DATES" "Dates Location BUY";
    padding: 1rem;
    }

.TOUR-DATES { 
    grid-area: TOUR-DATES; 
    text-align: center;
}

.Dates {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "date-1 date-1 date-1"
        "date-2 date-2 date-2"
        "date-3 date-3 date-3";
    grid-area: Dates;
}

.date-1 { 
    grid-area: date-1; 
}

.date-2 { 
    grid-area: date-2; 
}

.date-3 { 
    grid-area: date-3; 
}

.Location {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "location-1 location-1 location-1"
        "location-2 location-2 location-2"
        "location-3 location-3 location-3";
    grid-area: Location;
}

.location-1 { 
    grid-area: location-1; 
}

.location-2 { 
    grid-area: location-2; 
}

.location-3 { 
    grid-area: location-3; 
}

.BUY {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "buy1 buy1 buy1"
        "buy2 buy2 buy2"
        "buy3 buy3 buy3";
    grid-area: BUY;
    text-align: right;
}

.buy1 { 
    grid-area: buy1; 
}

.buy2 { 
    grid-area: buy2; 
}

.buy3 { 
    grid-area: buy3; 
}

/*Flex+Footer*/

footer {
    color: white;
    text-align: center;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

.footer__img--rrss {
    width: 20px;
    height: auto;
    margin: 0px;
    filter: invert(1);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
.container {
    flex: 1;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}